<div class="jumbotron">

<h1>Visual Playgrounds</h1>

<%= link_to 'New article', new_post_path %>

<% @posts.each do |post| %>
    <ul>
      <td><%= post.text %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
    </ul>
  <% end %>



</div>